*
{
    margin: 0px;
    padding: 0px;
 

}
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");

html {
  font-size: 62.5%;
}
body {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: red;
  height: 100vh;
 
}
#clock {
  max-width: 600px;
  height: 300px;
  border: 2px solid #fff;
  border-radius: 50px;
  background: url("images.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
 
 padding-top: 250px; 


}


@media only screen and (max-width: 700px) {
  body {
    font-size: 1.8rem;
  }
}


@media only screen and (max-width: 300px) {
  body {
    font-size: 1.6rem;
  }
}